/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body .navbar {
    background-color: #ffffff;
    margin-bottom: 0;
    border: none;
}

.navbar-brand img {
    max-width: 130px;
    width: 100%;
}

@media only screen and (max-width: 450px) {
    .logo-wrapper a {
        padding-right: 0;
        padding-left: 0;
    }

    .head-line {
        /*padding-right: 0;*/
    }
}

/*.navbar-nav {*/
/*!*margin-right: 15px;*!*/
/*}*/

.head-line li:nth-child(2) {
    display: block;
}

.head-line li:nth-child(2) {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar-nav {
        margin: 0;
    }

    .head-line li:nth-child(1) {
        display: none;
    }

    .head-line li:nth-child(2) {
        display: block;
    }

    .head-line li:nth-child(2) h5 {
        color: black;
        margin-top: 15px;
        margin-bottom: 20px;
        font-weight: bold;
        margin-left: 0;
    }
}

.navbar-nav > li > h5 {
    color: #ee572b;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 25px;
    font-weight: bold;
}

.navbar-right li {
    float: right;
}

.navbar-nav > li.dropdown > a {
    color: black;
    font-weight: bold;
    padding: 10px 0;
}

.navbar-nav > li.dropdown > a:hover {
    background-color: #ffffff;
}

.navbar-nav > li.dropdown > a:active {
    background-color: #ffffff;
}

.navbar-nav > li.dropdown > a:focus {
    background-color: #ffffff;
}

.navbar-nav > li.dropdown > a img {
    width: 30px;
    margin-right: 5px;
    border-radius: 50%;
}

.navbar-nav > li.dropdown > .dropdown-menu {
    right: -15px;
    border: none;
    border-radius: 0;
    min-width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav > li.dropdown > .dropdown-menu a {
    font-weight: bold;
    text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
    .navbar-nav > li.dropdown > .dropdown-menu a {
        padding-right: 0;
    }
}

.navbar-nav > li.dropdown > .dropdown-menu a:hover {
    background: transparent none;
    text-decoration: underline;
}

.navbar-nav > li.dropdown > .dropdown-menu a:focus {
    background: transparent none;
}

.navbar-nav > li.dropdown > .dropdown-menu a:active {
    background: transparent none;
}

.navbar-right {
    margin: 0;
}

.main-wrapper .container {
    max-width: 992px;
}

.main-wrapper {
    background-color: #fafafa;
}

.btn-trail {
    color: #fff;
    background-color: #f0561b;
    border-radius: 8px;
    font-size: 14px;
    padding: 7px 25px;
}

.left-side-trail {
    -moz-box-shadow: 3px 3px 5px 1px #e6e6e6;
    -webkit-box-shadow: 3px 3px 5px 1px #e6e6e6;
    box-shadow: 3px 3px 5px 1px #e6e6e6;
    background-color: #ffffff;
    padding: 45px 25px;
    border-radius: 4px;
}

.left-side-trail .trail-pic {
    max-width: 141px;
    width: 100%;
}

.trail-action h3 {
    margin-top: 0;
    color: #454545;

}

.line {
    border-top: 1px solid #ededed;
    margin-top: 30px;
    margin-bottom: 30px;

}

.progresses-container h5 {
    margin-bottom: 30px;
    font-weight: bold;
}

.progresses-container span {
    font-weight: 400;
}

.progresses-container label {
    width: 100%;
}

.right-side-your-journey {
    padding-left: 45px;
    color: #454545;

}

.right-side-your-journey h4 {
    margin-bottom: 25px;
}

.right-side-your-journey h4 span {
    color: #a7a7a7;
}

.right-side-your-journey .title {
    padding-top: 0;
    line-height: 32px;
    font-weight: 500;
}

.right-side-your-journey .title span {
    color: #f0561b;
    font-size: 30px;
}

.right-side-your-journey .desc h5 {
    color: #a7a7a7;
    font-weight: 400;
}

.right-side-your-journey .desc p {
    color: #a7a7a7;
    font-weight: 400;
    font-size: 14px;
}

.btn-orange-custom {
    color: #fff;
    background-color: #f0561b;
    border-radius: 4px;
    font-size: 14px;
    padding: 7px 25px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 12px;
    border: 1px solid #ffffff;

}

.btn-white-custom {
    color: #f0561b;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    padding: 7px 25px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 12px;
    border: 1px solid #f0561b;
}

.right-side-your-journey .btn-white-custom {
    border-radius: 6px;
}
.right-side-your-journey .join-info {
    padding-left: 0;
    margin-left: -10px;
}









